body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f3f3f3;
}

.menu__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #fff;
}

.menu__logo,
.menu__open {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
}

.menu__content {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 5rem 1.5rem 5rem;
  background-image:
    url(background-images/bki1.svg),
    url(background-images/bki2.svg),
    url(background-images/bki3.svg),
    url(background-images/bki4.svg),
    url(background-images/bki3.svg),
    url(background-images/bki3.svg),
    url(background-images/bki5.svg),
    url(background-images/bki6.svg);
  background-position: 0 5px, 100px 60px, 225px 10px, 295px 10px, 290px 225px, 40px 570px, 185px 580px, 275px 450px;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 50px 50px;
}

.header__title,
.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-block: 1.5rem;
}

.header__paragraph,
.about__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.header__subtitle,
.about__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.header__icons,
.about__icons {
  display: flex;
  gap: 1.2rem;
  list-style-type: none;
  padding: 0;
}

.projects {
  padding: 7rem 1.5rem;
  display: grid;
  gap: 88px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 0.9rem;
  border-radius: 15px 15px;
}

.project__img {
  width: 100%;
}

.project__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
}

.project__reference {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.project__client {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.project__role,
.project__year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.project__technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  list-style-type: none;
}

.project__technologies>li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
}

.project__button,
.about__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-bottom: 1.5rem;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: white;
}

.project__button:hover,
.about__button:hover,
.footer__button:hover {
  color: white;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 1.5rem 5rem;
  background-color: #fff;
  border-top-right-radius: 50px 50px;
}

.knowledge {
  list-style-type: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding: 0 1rem;
}

.knowledge__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem;
}

.about__info--technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  padding: 0;
}

.about__info--technologies>li {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  color: #253858;
}

.about__image {
  width: 48px;
  height: 48px;
  border-radius: 50px 50px;
  padding-left: 0.5rem;
}

.about__info--borders {
  padding-top: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 6rem 1.5rem 3rem;
  background: #6070FF;
  border-top-left-radius: 50px 50px;
  background-image:
    url(background-images/bki7.svg),
    url(background-images/bki8.svg),
    url(background-images/bki9.svg);
  background-position: 150px 40px, 310px 25px, 225px 640px;
  background-repeat: no-repeat;
}

.footer__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #FFFFFF;
  margin: 0;
}

.footer__paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #EBEBFF;
}

.footer__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.footer__input {
  font-size: 0.6rem;
  padding: 0.8rem 0.5rem;
  border-radius: 8px;
  width: 80vw;
  height: 20px;
  margin: 0;
  border: none;
}

.footer__textarea {
  font-size: 1rem;
  height: 150px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #B3BAC5;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #B3BAC5;
}

.footer__button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  width: 140px;
  height: 48px;
  font-size: 17px;
  color: #6070FF;
}