*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f3f3f3;
}

.header-main {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}

.menu__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #fff;
}

.menu__logo,
.menu__open {
  color: #5564eb;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.menu__close {
  display: block;
  margin-left: auto;
  background: none;
  border: none;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.menu__close span {
  color: white;
  font-size: 1.75rem;
}

.menu__list {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 1rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
  list-style-type: none;
}

.menu__list a {
  text-decoration: none;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  padding: 5rem 1.5rem 7rem;
  height: 90vh;
  background-image:
    url(background-images/bki1.svg),
    url(background-images/bki2.svg),
    url(background-images/bki3.svg),
    url(background-images/bki4.svg),
    url(background-images/bki3.svg),
    url(background-images/bki3.svg),
    url(background-images/bki5.svg),
    url(background-images/bki6.svg);
  background-position:
    left -10% top 0%,
    left 35% top 9%,
    left 60% top 1%,
    right -20% top 8%,
    right 18% top 35%,
    left 13% bottom 8%,
    right 35% bottom 2%,
    right 15% bottom 22%;
  background-repeat: no-repeat;
  background-size: 15%, auto, auto, 35%, 3%, auto, auto, auto;
  background-color: #fff;
  border-bottom-left-radius: 50px 50px;
}

.header__content {
  margin-inline: auto;
  max-width: 900px;
}

.header__title,
.about__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
  margin-block: 1rem;
}

.header__paragraph,
.about__paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  margin: 0;
}

.header__subtitle,
.about__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4d5bd9;
  margin: 0.5rem 0;
}

.header__icons,
.about__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  list-style-type: none;
  padding: 0;
}

.projects {
  padding: 7rem 1.5rem;
  display: grid;
  gap: 5.5rem;
  max-width: 1440px;
  margin-inline: auto;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 0.9rem;
  border-radius: 15px 15px;
}

.project__img {
  width: 100%;
}

.project__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #172b4d;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.project__reference {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  gap: 0.75rem;
}

.project__client {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #344563;
}

.project__role,
.project__year {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #454b54;
}

.project__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #344563;
  margin: 1rem 0;
  max-width: 260px;
}

.project__technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-top: 0;
  gap: 0.5rem;
  list-style-type: none;
}

.project__technologies > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #5564eb;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
}

.project__button,
.about__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin: 1.5rem 0 1rem;
  gap: 10px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #5564eb;
  border-radius: 8px;
  background: white;
}

.about-content {
  background-color: white;
  border-top-right-radius: 50px 50px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 1.5rem 5rem;
  border-top-right-radius: 50px 50px;
  max-width: 1440px;
  margin-inline: auto;
}

.knowledge {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000;
  padding: 0 1rem;
  width: 100%;
}

.knowledge__titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 2rem;
}

.about__info--technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

.about__info--technologies > li {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: #253858;
  height: 4rem;
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.25rem;
}

.about__images {
  width: 3rem;
  height: 3rem;
  border-radius: 50px 50px;
  margin-left: 0.5rem;
}

.footer__background {
  background-color: #fff;
}

.footer__form {
  max-width: 500px;
  margin-inline: auto;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 6rem 1.5rem 3rem;
  background: #5564eb;
  border-top-left-radius: 50px 50px;
  background-image:
    url(background-images/bki7.svg),
    url(background-images/bki8.svg),
    url(background-images/bki9.svg);
  background-position: left 40% top 6%, right -17% top 3%, right 20% bottom 7.5%;
  background-repeat: no-repeat;
  background-size: auto, 30%, auto;
}

.footer__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.footer__paragraph {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 1rem auto 2rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.footer__ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

label {
  display: none;
}

.footer__input {
  padding: 0.8rem 0.5rem;
  border-radius: 8px;
  height: 45px;
  width: 100%;
  border: none;
}

.footer__textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  height: 150px;
  font-weight: 400;
  color: #b3bac5;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #b3bac5;
}

.footer__button {
  display: block;
  font-weight: 600;
  font-size: 17px;
  background: #fff;
  border-radius: 8px;
  border: none;
  margin-top: 1.5rem;
  width: 140px;
  height: 48px;
  color: #5564eb;
}

.project__button:hover,
.about__button:hover,
.footer__button:hover {
  color: white;
  background: #5564eb;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

@media (min-width: 768px) {
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    height: 72px;
    max-width: 1440px;
    margin-inline: auto;
  }

  .menu__list__li {
    transition: transform 1s;
    transform: scale(1);
  }

  .menu__list__li:hover {
    transform: scale(1.2);
  }

  .menu__open {
    display: none;
  }

  .menu__content {
    display: block;
    background: #5564eb00;
    backdrop-filter: blur(0);
  }

  .menu__close {
    display: none;
  }

  .menu__list {
    flex-direction: row;
    justify-content: end;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .menu__list a {
    color: #000;
  }

  .header {
    background-image:
      url(background-images/bki1.svg),
      url(background-images/bki3.svg),
      url(background-images/bki2.svg),
      url(background-images/bki3.svg),
      url(background-images/bki4.svg),
      url(background-images/bki3.svg),
      url(background-images/bki6.svg),
      url(background-images/bki5.svg),
      url(background-images/bki3.svg);
    background-position:
      left 4% top 4%,
      left 30% top 7%,
      left 55% top 15%,
      right 30% top 4%,
      right 2% top 5%,
      left 5% bottom 45%,
      left 15% bottom 10%,
      right 35% bottom 10%,
      right 15% bottom 25%;
    background-repeat: no-repeat;
    background-size: 10%, 1%, 4%, 2%, 20%, 1%, 3.5%, 10%, 4%;
  }

  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .project:nth-child(even) img {
    order: 1;
  }

  .project div {
    padding-left: 7rem;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .about__button {
    transition: background-color 2s;
  }

  .about__button:hover {
    background-color: #5564eb;
    color: #fff;
  }

  .about__info--technologies {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .about__info--technologies li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 0.5rem;
    width: 122px;
    height: 122px;
  }

  .footer {
    background-image:
      url(background-images/bki7.svg),
      url(background-images/bki8.svg),
      url(background-images/bki9.svg),
      url(background-images/bki10.svg),
      url(background-images/bki11.svg);
    background-position: left 40% top 6%, right 7% top 9%, left 5% top 45%, right 15% bottom 30%, left 25% bottom 7%;
    background-repeat: no-repeat;
    background-size: auto, 8%, 8%, auto, auto;
  }

  .footer__button {
    margin-inline: auto;
  }
}

@media (max-width: 767px) {
  .menu__content {
    display: none;
    background: #5564ebb5;
    backdrop-filter: blur(0.6rem);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}
